*{
	box-sizing: border-box;
}

nav{
	display: flex;
	justify-content: space-evenly;
	display: flex;
	justify-content: flex-start;
}

.Navbar{
	display: none;
}

li{
	list-style: none;
}

a{
	font-weight: bold;
	text-decoration: none;
}

@media only screen and (min-width: 600px){
	button{
		display: none;
	}
	.Navbar{
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		padding: 0px;
	}

}